<?xml version="1.0"?>
<config>
  <modules>
    <P123pay_Pg123pay>
      <version>0.1.0</version>
    </P123pay_Pg123pay>
  </modules>
  <global>
    <models>
      <pg123pay>
        <class>P123pay_Pg123pay_Model</class>
      </pg123pay>
    </models>
    <helpers>
      <pg123pay>
        <class>P123pay_Pg123pay_Helper</class>
      </pg123pay>
    </helpers>
    <blocks>
      <pg123pay>
        <class>P123pay_Pg123pay_Block</class>
      </pg123pay>
    </blocks>
  </global>
  <default>
    <payment>
      <pg123pay>
        <model>pg123pay/standard</model>
        <active>1</active>
		<mode>0</mode>
        <order_status>pending</order_status>
		<order_status_succeed>pending</order_status_succeed>
        <title>123Pay - Thanh toán bằng thẻ ATM nội địa</title>
		<order_prefix>micode</order_prefix>
		<merchant_code></merchant_code>
		<passcode></passcode>	
		<secret_key></secret_key>			
		<create_order_url></create_order_url>
		<query_order_url></query_order_url>
		<cart_url></cart_url>	
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </pg123pay>
    </payment>
  </default>
  <frontend>
    <routers>
      <pg123pay>
        <use>standard</use>
        <args>
          <module>P123pay_Pg123pay</module>
          <frontName>pg123pay</frontName>
        </args>
      </pg123pay>
    </routers>
  </frontend>
</config>
