<?xml version="1.0"?>
<config>
  <modules>
    <P123paymaster_Pg123paymaster>
      <version>0.1.0</version>
    </P123paymaster_Pg123paymaster>
  </modules>
  <global>
    <models>
      <pg123paymaster>
        <class>P123paymaster_Pg123paymaster_Model</class>
      </pg123paymaster>
    </models>
    <helpers>
      <pg123paymaster>
        <class>P123paymaster_Pg123paymaster_Helper</class>
      </pg123paymaster>
    </helpers>
    <blocks>
      <pg123paymaster>
        <class>P123paymaster_Pg123paymaster_Block</class>
      </pg123paymaster>
    </blocks>
  </global>
  <default>
    <payment>
      <pg123paymaster>
        <model>pg123paymaster/standard</model>
		<mode_master>0</mode_master>
        <active>1</active>
        <order_status_master>pending</order_status_master>
		<order_status_succeed_master>pending</order_status_succeed_master>
        <title>123Pay - Thanh toán bằng thẻ quốc tế Visa/Master/JCB</title>
		<order_prefix_master>micode</order_prefix_master>
		<merchant_code_master></merchant_code_master>		
		<passcode_master></passcode_master>	
		<secret_key_master></secret_key_master>			
		<create_order_url_master></create_order_url_master>
		<query_order_url_master></query_order_url_master>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </pg123paymaster>
    </payment>
  </default>
  <frontend>
    <routers>
      <pg123paymaster>
        <use>standard</use>
        <args>
          <module>P123paymaster_Pg123paymaster</module>
          <frontName>pg123paymaster</frontName>
        </args>
      </pg123paymaster>
    </routers>
  </frontend>
</config>
